i.icon{
    font-size: 2em;
}
.container.main{
    margin-top: 7.0em;
}

#del{
    display: inline;
}
.content span{
    color: blue;
    display: block;
    font-size: larger;
    font-weight: 400;
}